@page "/electronics"
<h1>Electronics</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col" style="width: 40%;">Description</th>
        <th scope="col" style="width: 20%;">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Light Box</th>
        <td>
            <img class="card-img-top" src="images/lightbox/lightbox-rainbow-1.jpg" alt="light-box"/>
        </td>
        <td>
            <span class="badge badge-dark">Adafruit</span>
            <span class="badge badge-dark">Web Assembly</span>
            <p></p>
            Light Box is an electronics project that allows people to interact with a LED strip with some dials and a button to toggle programs, where they can change the colours that appear to the speed of sequeneces and even the LEDs that appear.
        </td>
        <td>
            <a class="btn btn-info" href="https://gist.github.com/ChrisWoody/4409806fbc3860d5780e14eb9f3f77a0"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
            <a class="btn btn-primary" href="/electronics/lightbox">
                View More Info
            </a>
        </td>
    </tr>
    </tbody>
</table>

@code {
    
}