@page "/games"
<h1>Games</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col" style="width: 40%;">Description</th>
        <th scope="col" style="width: 20%;">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Spear Cat</th>
        <td>
            <img class="card-img-top" src="images/spearcat-logo.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">C#</span>
            <span class="badge badge-dark">Unity</span>
            <span class="badge badge-dark">Web GL</span>
            <p></p>
            Play as a Cat with a Spear to fight off the endless alien hordes!
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoodcodes.net/SpearCat/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/SpearCat"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Project Sicarius</th>
        <td>
            <img class="card-img-top" src="images/project-sicarius-example.jpg" alt="project-sicarius"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">C#</span>
            <span class="badge badge-dark">Unity</span>
            <span class="badge badge-dark">Web GL</span>
            <p></p>
            Play as an angel who has to take out the invading demons in this 2D game made in Unity.
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoody.github.io/project-sicarius-build/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/project-sicarius"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Simon Says</th>
        <td>
            <img class="card-img-top" src="images/simon-says-logo.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">HTML</span>
            <span class="badge badge-dark">JS</span>
            <p></p>
            I've made this in Unity + WebGL previously, but was keen to learn more about Javascript and the
            Canvas, it even has audio!
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoody.github.io/simon-says/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/simon-says"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    </tbody>
</table>

@code {
    
}