@page "/props"
<h3>Props</h3>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col" style="width: 40%;">Description</th>
        <th scope="col" style="width: 20%;">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Foam sword</th>
        <td>
            <img class="card-img-top" src="images/foam-sword.jpg" alt="foam-sword"/>
        </td>
        <td>
            <span class="badge badge-dark">Foam</span>
            <p></p>
            A basic sword made out of foam and PVC pipe, along with faux leather for the handle. It was a good entry into the prop making world.
        </td>
        <td>
            <a class="btn btn-info" href="https://www.youtube.com/watch?v=yU1h_eh4iKE"
               rel="noopener noreferrer" target="_blank">
                Based on this
            </a>
        </td>
    </tr>
    </tbody>
</table>

@code {
    
}