<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Chris Wood</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="oi oi-play-circle" aria-hidden="true"></span> Games
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="programming">
                <span class="oi oi-code" aria-hidden="true"></span> Programming
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="electronics">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Electronics
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="props">
                <span class="oi oi-shield" aria-hidden="true"></span> Props
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="docs">
                <span class="oi oi-document" aria-hidden="true"></span> Docs
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="https://www.linkedin.com/in/chris-wood-520350163/">
                <span class="oi oi-person" aria-hidden="true"></span> LinkedIn
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}