@page "/"

<div class="container text-align-center" style="max-width: none;">
    <div class="row" style="fill: #1e7e34">
        <div class="col">
            <h1>Chris Wood</h1>
            <p>Hello and welcome! Check out some personal projects I've worked on or some documentation that I've put together from the menu!</p>
        </div>
    </div>
    <p>Home page is a work in progress...</p>
</div>