@page "/"

<div class="container text-align-center" style="max-width: none;">
    <div class="row" style="fill: #1e7e34">
        <div class="col">
            <h1>Chris Wood</h1>
            <p>Hello and welcome! Check out some personal projects I've worked on or some documentation that I've put together.</p>
        </div>
    </div>
    <div class="row">
        <a href="games" class="col">
            <div class="homepagebutton">
                <span class="homepagebuttonspan">Games</span>
            </div>
        </a>
        <a href="programming" class="col">
            <div class="homepagebutton">
                <span class="homepagebuttonspan">Programming</span>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="electronics" class="col">
            <div class="homepagebutton">
                <span class="homepagebuttonspan">Electronics</span>
            </div>
        </a>
        <a href="props" class="col">
            <div class="homepagebutton">
                <span class="homepagebuttonspan">Props</span>
            </div>
        </a>
    </div>
    <div class="row">
        <a href="docs" class="col">
            <div class="homepagebutton">
                <span class="homepagebuttonspan">Docs</span>
            </div>
        </a>
    </div>
</div>