@page "/Learn"
<h1>Learn</h1>

<p>Here you'll see things that you can learn.</p>

<p class="h3">Presentations</p>
<ul>
    <li>
        <BasicLink Text="OAuth slides deck" Url="https://www.slideshare.net/ChrisWood262/oauth-2"/>
    </li>
</ul>

@code {
    
}