@page "/Projects"
<h1>Projects</h1>

<strong>What are these weird project names?</strong>
<p>
    I'm a huge fan of Warhammer and
    reading books, and the Space Marine Battles series of books are the first Warhammer ones I've read. When
    I'm doing a major project I pick a main character from those books for the project's name. This
    includes Reclusiarch Merek Grimaldus of the Black Templars, or Captain Cato Sicarius of the
    Ultramarines.
</p>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Project</th>
        <th scope="col"></th>
        <th scope="col" style="width: 40%;">Description</th>
        <th scope="col" style="width: 20%;">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Project Sicarius</th>
        <td>
            <img class="card-img-top" src="images/project-sicarius-example.jpg" alt="project-sicarius"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">C#</span>
            <span class="badge badge-dark">Unity</span>
            <span class="badge badge-dark">Web GL</span>
            <p></p>
            Play as an angel who has to take out the invading demons in this 2D game made in Unity.
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoody.github.io/project-sicarius-build/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/project-sicarius"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Simon Says</th>
        <td>
            <img class="card-img-top" src="images/simon-says-logo.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">HTML</span>
            <span class="badge badge-dark">JS</span>
            <p></p>
            I've made this in Unity + WebGL previously, but was keen to learn more about Javascript and the
            Canvas, it even has audio!
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoody.github.io/simon-says/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/simon-says"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Spear Cat</th>
        <td>
            <img class="card-img-top" src="images/spearcat-logo.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Game</span>
            <span class="badge badge-dark">C#</span>
            <span class="badge badge-dark">Unity</span>
            <span class="badge badge-dark">Web GL</span>
            <p></p>
            Play as a Cat with a Spear to fight off the endless alien hordes!
        </td>
        <td>
            <a class="btn btn-primary" href="https://chriswoodcodes.net/SpearCat/"
               rel="noopener noreferrer" target="_blank">
                Play
            </a>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/SpearCat"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Project Grimaldus</th>
        <td>
            <img class="card-img-top" src="images/project-grimaldus.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Blazor</span>
            <span class="badge badge-dark">Web Assembly</span>
            <span class="badge badge-dark">GitHub Pages</span>
            <p></p>
            It's this website! It has changed hosting providers and programming languages over time to now
            just be a Blazor web assembley website hosted on GitHub. The goal of this website is to
            showcase projects I've done, play around with website best practices and capture documentation on things.
        </td>
        <td>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/ChrisWoody.github.io"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Project Belial</th>
        <td>
            <img class="card-img-top" src="/images/project-belial.jpg" alt="project-belial"/>
        </td>
        <td>
            <span class="badge badge-dark">Blazor</span>
            <span class="badge badge-dark">Azure DevOps</span>
            <span class="badge badge-dark">Static hosting</span>
            <p></p>
            I have heaps of books so the goal here was to understand what books I own and
            which ones I've read. Also used this as an opportunity to try out some tech including Blazor
            with static hosting, Azure DevOps for the CI/CD and Azure Functions that auto-scaled images of
            the books.
        </td>
        <td>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/project-belial"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    </tbody>
</table>

@code {

}