@page "/programming"
<h1>Programming</h1>

<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col" style="width: 40%;">Description</th>
        <th scope="col" style="width: 20%;">Links</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Project Grimaldus</th>
        <td>
            <img class="card-img-top" src="images/project-grimaldus.jpg" alt="simon-says"/>
        </td>
        <td>
            <span class="badge badge-dark">Blazor</span>
            <span class="badge badge-dark">Web Assembly</span>
            <span class="badge badge-dark">GitHub Pages</span>
            <p></p>
            It's this website! It has changed hosting providers and programming languages over time to now
            just be a Blazor web assembley website hosted on GitHub. The goal of this website is to
            showcase projects I've done, play around with website best practices and capture documentation on things.
        </td>
        <td>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/ChrisWoody.github.io"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    <tr>
        <th scope="row">Project Belial</th>
        <td>
            <img class="card-img-top" src="/images/project-belial.jpg" alt="project-belial"/>
        </td>
        <td>
            <span class="badge badge-dark">Blazor</span>
            <span class="badge badge-dark">Azure DevOps</span>
            <span class="badge badge-dark">Static hosting</span>
            <p></p>
            I have heaps of books so the goal here was to understand what books I own and
            which ones I've read. Also used this as an opportunity to try out some tech including Blazor
            with static hosting, Azure DevOps for the CI/CD and Azure Functions that auto-scaled images of
            the books.
        </td>
        <td>
            <a class="btn btn-info" href="https://github.com/ChrisWoody/project-belial"
               rel="noopener noreferrer" target="_blank">
                View Code
            </a>
        </td>
    </tr>
    </tbody>
</table>

@code {
    
}